{% extends 'dashboard.html.twig' %}

{% block title %}}Promosport | Admin | Liste des Equipes{% endblock %}

{% block body %}
<h1>La Liste des Equipes <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+</button></h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Logo de l'équipe</th>
      <th scope="col">Nom de l'équipe</th>
      <th scope="col">Ligue</th>
    </tr>
  </thead>
  <tbody>
  {% for team in teams %}
    <tr>
      <th scope="row"><img src="{{ vich_uploader_asset(team, 'logoFile') }}"></th>
      <td>{{team.nom}}</td>
      <td>{{team.league.nom}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une Nouvelle Equipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{form_start(form)}}
      <div class="modal-body">
        {{form_row(form.nom)}}
        {{form_row(form.logoFile)}}
        {{form_row(form.league)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}