<link rel="stylesheet" href="{{ asset('https://unpkg.com/leaflet@1.8.0/dist/leaflet.css')}}" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<style>
    #macarte
    {
        height: 500px;

    }
</style>
<div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
    <div class="row py-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="https://htmlcodex.com"><img class="img-fluid" src="{{ asset('img/image.png')}}" alt=""></a>
            <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>
                Centre Urbain Tunis Nord
                Av.Med Ali Akid 2035 Cité Olympique
                B.P 323 Tunis 1004
            </p>
            <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>Tél : 71186200 Fax : 71750654</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>info@example.com</p>
            <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Follow Us</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ asset('https://twitter.com/PromoSportTunis') }}"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ asset('https://www.facebook.com/PromosportTunisie/') }}"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ asset('https://www.linkedin.com/company-beta/2472659') }}"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square" href="{{ asset('https://www.youtube.com/channel/UCLdS3DZSlAgXovSowVXCUPA') }}"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-5">
           <div class="rounded" id="macarte"></div>
        </div>
    </div>
</div>
<script src="{{ asset('https://unpkg.com/leaflet@1.8.0/dist/leaflet.js')}}" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
<script>
    var carte = L.map('macarte').setView([33.8439408, 9.400138], 6);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibW9oc2VuMTk5OCIsImEiOiJjbDJ6ZXhtOWEwYm15M2NsN3lobzltbzByIn0.I8X6QL85V2Em0OzXrxlIcA'
    }).addTo(carte);

    let xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = () => {
        if(xmlhttp.readyState === 4)
        {
            if(xmlhttp.status === 200)
            {
                let donnees = JSON.parse(xmlhttp.responseText)
                Object.entries(donnees.pointevente).forEach(pv =>{
                    let marker = L.marker([pv[1].lat, pv[1].lon]).addTo(carte);
                    //add popup message
                    marker.bindPopup('<div>Client : '+pv[1].client+'</div>' +
                        '<br><div>code : '+pv[1].code+'</div>' +
                        '<br><div>state : '+pv[1].state+'</div>');
                    // //add circle
                    var circle = L.circle([pv[1].lat, pv[1].lon], {
                        color: 'green',
                        fillColor: 'red',
                        fillOpacity: 0.2,
                        radius: 1000
                    }).addTo(carte);
                })
            }
            else
            {
                console.log(xmlhttp.status)
            }
        }
    }

    xmlhttp.open('GET', 'http://127.0.0.1:8000/pointe_vente/json')

    xmlhttp.send(null);
</script>

